<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/cocktails", class: "navbar-brand" do %>
    <%= image_tag "https://png.pngtree.com/png-clipart/20190705/original/pngtree-cocktail-icon-design-png-image_4316053.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Add your cocktail", new_cocktail_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'banner_cocktails.png' %>')">
  <div class="container">
    <h1>Les Potions de Kameko</h1>
  </div>
</div>


<div class="container pad20">

  <h1 class="text-underline text-brand">Cocktails</h1>

  <div class="row">

    <% @cocktails.each do |cocktail| %>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                  url(https://source.unsplash.com/500x400/?cocktail);">
        <div class="card-description">
          <h2> <%= cocktail.name  %> </h2>
        </div>
        <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

