<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/cocktails", class: "navbar-brand" do %>
    <%= image_tag "https://png.pngtree.com/png-clipart/20190705/original/pngtree-cocktail-icon-design-png-image_4316053.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Add your cocktail", new_cocktail_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'banner_cocktails.png' %>')">
  <div class="container">
    <h1>Les Potions de Kameko</h1>
  </div>
</div>


<div class="d-flex flex-wrap justify-content-around">
  <% @cocktails.each do |cocktail| %>
      <div class="card m-5" style="width: 18rem;">
          <%= link_to cocktail_path(cocktail) do %>
            <% if cocktail.photo.attached? %>
              <%= cl_image_tag cocktail.photo.key, height: 400, width: 400, crop: :fill, class: "card-img-top img-fluid" %>
            <% else %>
              <%= image_tag "question_mark.jpg", alt: "Question mark", height: 400, width: 400, class: "card-img-top img-fluid" %>
            <% end %>
            <div class="card-body">
              <h3><%= cocktail.name %></h3>
            </div>
          <% end %>
      </div>
  <% end %>
</div>

