<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/cocktails", class: "navbar-brand" do %>
    <%= image_tag "https://png.pngtree.com/png-clipart/20190705/original/pngtree-cocktail-icon-design-png-image_4316053.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Add your cocktail", new_cocktail_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>



<div class="container pad20">

<% if @cocktail.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo.key %>')">
    <div class="container">
      <h1 class="m-2"><%= @cocktail.name %></h1>
    </div>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/500x400/?cocktail)')">
    <div class="container">
      <h1 class="m-2"><%= @cocktail.name %></h1>
    </div>
  </div>
<% end %>

  <!-- Ingredient -->

  <div class="pad10">
    <% if @cocktail.doses.empty? %>
    <p class="text-gray">
      No ingredients yet. Add yours!
    </p>
    <% else %>
    <h3> Ingredients </h2>
      <% end %>
  </div>

  <!-- Ingredient list -->

  <ul class="list-unstyled pad20">
    <% @cocktail.doses.each do |d| %>
    <li>
      <i class="fa fa-glass"></i> <strong> <%= d.ingredient.name %> </strong>
      <%= link_to "Delete", dose_path(d), class: "btn btn-danger btn-xs", method: :delete  %>
    </li>
    <p class="pad10"><%= d.description %></p>
    <% end %>
  </ul>
  <div class="pad20">
    <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary", id: "ingredient-add-button"%>
    <%= link_to "Go back", cocktails_path, class: "btn btn-warning" %>
  </div>
</div>


<%= link_to "destroy cocktail", cocktail_path(@cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-danger rounded" %>